<% include header.html %>

<div class="container">

  <div class="jumbotron">
    <p>
      <a class="btn btn-lg btn-success" href="#" id="uploader" role="button">上传</a>
    </p>
  </div>
  
  <div class="pz-widget-flash-container-amazon" id="pz-xia-flash" style="width: 960px; height: 400px; display: block;">
    <div id="pz-xia" class="pz-widget-flash-container">
        <div id="pz-xia-cont" class="pz-xia-cont">
            <div class="pz-xia-amazon pz-xia-0" id="pz-xia-amazon">
                <div class="pz-xia-amazon-0" id="pz-xia-huanjuan"></div>
            </div>
        </div>
        <a id="pz-xia-bg" style="display:block;width:960px;height: 400px; background-color: rgb(255, 255, 255); opacity: 0.5; filter: alpha(opacity=50);" target="_blank"></a>
        <a id="pz-xia-close" title="关闭浮层" class="pz-xia-close" style="display: none;">&nbsp;</a>
    </div>
</div>

</div>

<% include footer.html %>
